button.fab {
  position: fixed;
  /* leave room for the fixed nav */
  bottom: calc(var(--nav-height) + env(safe-area-inset-bottom));
  right: var(--pico-spacing);
  z-index: 100;
  width: var(--fab-width);
  height: var(--fab-height);
  font-size: var(--fab-font-size);
  border-radius: 50%;
  padding: 0;
}

button.fab.fullscreen {
  /* In fullscreen mode, move down to match ToggleFullscreenButton position (no nav bar) */
  bottom: calc(var(--pico-spacing) + env(safe-area-inset-bottom));
}

button.fab.ins {
  background: var(--pico-form-element-valid-focus-color);
  border-color: var(--pico-form-element-valid-border-color);
}
