header.home {
  text-align: center;
}

main.home .version {
  display: block;
  margin-bottom: 1rem;
}

main.home .version span {
  display: inline-block;
  padding: 1ex 1em;
  color: var(--pico-muted-color);
  border: var(--pico-border-width) solid var(--pico-muted-border-color);
  border-radius: 1rem;
  font-size: 0.6rem;
  font-family: monospace;
}
