header.leaderboard {
  text-align: center;
}

@scope (main.leaderboard) {
  section.entry {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      border-bottom: 1px solid;
      border-color: var(--pico-muted-border-color);
    }
  }

  @media (max-width: 767px) {
    article.player {
      width: 32%;
    }

    div.result {
      width: 68%;
    }
  }

  @media (min-width: 768px) {
    article.player {
      width: 18.4%;
    }
    div.result {
      width: 81.6%;
    }
  }

  div.result {
    display: flex;
    font-size: 1.5em;
  }

  p.award {
    width: 35%;
    text-align: left;
    padding-left: 10%;
  }

  p.win-percentage {
    position: relative;
    width: 35%;
    text-align: center;
    border: 1px solid;
    border-color: var(--pico-muted-border-color);
    border-radius: 1ex;
  }

  div.progressbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--pico-muted-color);
    border-width: 0;
    border-radius: 1ex;
    opacity: 0.3;
  }

  p.plus-minus {
    width: 30%;
    text-align: center;
  }
}
