header.leaderboard {
  text-align: center;
}

@scope (main.leaderboard) {
  th,
  td {
    padding: 0;
    padding-left: 1ex;
  }

  th.right,
  td.right {
    padding-left: 0;
    padding-right: 1ex;
    text-align: right;
  }

  img.avatar {
    min-width: 3em;
    width: 3em;
  }

  p.name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
  }

  @media (max-width: 768px) {
    p.name {
      max-width: 12ex;
    }
  }

  @media (min-width: 768px) {
    p.name {
      max-width: 20ex;
    }
  }
}
