/* MatchSection component - shared layout for match display */

section.match {
  width: 100%;
  display: grid;
  column-gap: var(--pico-spacing);
  grid-template-columns: repeat(3, minmax(0, 1fr));
  border-bottom: var(--pico-border-width) solid;
  border-color: var(--pico-muted-border-color);
}

section.team {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  border-radius: var(--pico-border-radius);
}

section.team.winner {
  outline-width: var(--pico-border-width);
  outline-style: solid;
  outline-color: var(--pico-form-element-valid-border-color);
  outline-offset: calc(var(--pico-spacing) / 2);
}

section.team article.player {
  margin: 0;
}

section.vs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

section.vs small.match {
  text-align: center;
  border: var(--pico-border-width) solid var(--pico-form-element-border-color);
  border-radius: 999px;
  padding: 0.1em 0.5em;
  line-height: 1.4;
}

section.vs small.match.valid {
  color: var(--pico-form-element-valid-border-color);
  border-color: var(--pico-form-element-valid-border-color);
}

section.vs.interactive {
  cursor: pointer;
  border-radius: var(--pico-border-radius);
  border: var(--pico-border-width) dashed var(--pico-muted-border-color);
}

section.vs span.score {
  text-align: center;
}

@media (min-width: 768px) {

  section.match {
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 2fr);
  }

  section.team {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: minmax(0, 1fr);
  }
}
