header.players {
  text-align: center;
}

@scope (main.players) {
  section.players {
    display: flex;
    flex-wrap: wrap;
  }

  article.player {
    position: relative;
    padding: 1ex;
    margin-bottom: 2%;
  }

  @media (max-width: 767px) {
    article.player {
      /* 3 players accross with 2 gaps (margins) = 100% */
      width: 32%;
      &:not(:nth-child(3n)) {
        margin-right: 2%;
      }
    }
  }

  @media (min-width: 768px) {
    article.player {
      /* 5 players accross with 4 gaps (margins) = 100% */
      width: 18.4%;
      &:not(:nth-child(5n)) {
        margin-right: 2%;
      }
    }
  }

  @scope (article.player) {
    img.avatar.inactive {
      opacity: 0.4;
    }

    p.name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: center;
    }

    button.delete {
      position: absolute;
      top: 0;
      left: 0;
      border-color: var(--pico-form-element-invalid-focus-color);
      background: var(--pico-form-element-invalid-focus-color);
      padding: 0.2ex 1ex;
    }

    input.active {
      float: right;
    }
  }
}
