header.players {
  text-align: center;
}

main.players div.player-filter button {
  padding: 0.5ex 0;
}

main.players h2 {
  margin: 0;
  margin-bottom: var(--pico-spacing);
}

main.players section.group {
  display: grid;
  column-gap: var(--pico-spacing);
  grid-template-columns: repeat(3, minmax(0, 1fr));
  border-bottom: 1px solid;
  border-color: var(--pico-muted-border-color);
}

@media (min-width: 768px) {
  main.players section.group {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

main.players div.player.inactive article img {
  opacity: 0.5;
}

main.players div.player.inactive article p {
  opacity: 0.5;
}

main.players div.player div.player-actions {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: var(--pico-spacing);
}

main.players button.delete {
  position: absolute;
  top: 0;
  left: 0;
  border-color: var(--pico-form-element-invalid-focus-color);
  background: var(--pico-form-element-invalid-focus-color);
  padding: 0 1ex;
}

main.players input.active {
  margin: 0;
}

main.players div.player div.group-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: var(--pico-spacing);
}

div.group-actions button {
  padding: 0 1ex;
  border-radius: 1em;
}
