header.round {
  display: flex;
  justify-content: space-between;
}

header.round button {
  padding: 1rex;
}

@scope (main.round) {
  h2 {
    margin: 0;
    margin-bottom: 1rem;
    justify-self: center;
    align-self: center;
  }

  section.match {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    border-bottom: 1px solid;
    border-color: var(--pico-muted-border-color);
  }

  div.score {
    display: flex;
  }

  div.score input {
    align-self: center;
    text-align: center;
    margin-bottom: 1rem;
  }

  section.paused {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    border-bottom: 1px solid;
    border-color: var(--pico-muted-border-color);
  }

  section.paused article {
    opacity: 0.4;
  }

  @media (min-width: 1024px) {
    section.match {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }

    section.paused {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }

  section.actions {
    display: flex;
    justify-content: space-between;
  }

  @scope (section.actions) {
    button.delete {
      border-color: var(--pico-form-element-invalid-focus-color);
      background: var(--pico-form-element-invalid-focus-color);
    }
    button.add {
      border-color: var(--pico-form-element-valid-focus-color);
      background: var(--pico-form-element-valid-focus-color);
    }
  }
}
