header.round {
  display: flex;
  justify-content: space-between;
}

header.round button {
  padding: 1rex;
}

@scope (main.round) {
  h2 {
    margin: 0;
    margin-bottom: var(--pico-spacing);
    justify-self: center;
    align-self: center;
  }

  section.match {
    display: grid;
    column-gap: var(--pico-spacing);
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    border-bottom: 1px solid;
    border-color: var(--pico-muted-border-color);
  }

  section.team {
    position: relative;
    display: grid;
    column-gap: var(--pico-spacing);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  section.team article.player {
    margin: 0;
  }

  section.team > p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    border: 1px solid;
    width: 2rem;
    border-radius: 1rem;
    background: var(--pico-background-color);
    color: var(--pico-muted-color);
    border-color: var(--pico-muted-border-color);
  }

  section.score {
    display: flex;
    align-items: center;
  }

  section.score input {
    text-align: center;
    margin: 0;
  }

  section.paused {
    display: grid;
    column-gap: var(--pico-spacing);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    border-bottom: 1px solid;
    border-color: var(--pico-muted-border-color);
  }

  section.paused article {
    opacity: 0.4;
  }

  @media (min-width: 1024px) {
    section.match {
      grid-template-columns: repeat(2, minmax(0, 2fr) minmax(0, 1fr));
    }

    section.paused {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }

  section.actions {
    display: flex;
    justify-content: space-between;
  }

  @scope (section.actions) {
    button.delete {
      border-color: var(--pico-form-element-invalid-border-color);
      background: var(--pico-form-element-invalid-focus-color);
    }
    button.add {
      border-color: var(--pico-form-element-valid-border-color);
      background: var(--pico-form-element-valid-focus-color);
    }
  }
}
