div.match {
  display: flex;
  flex-direction: row;
  margin: 2ex 0;
  border: .2ex solid #0062a2;
}

div.team {
  vertical-align: middle;
  width: 35%;
}

div.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: .2ex solid #0062a2;
  padding: 1ex;
}

div.player img.avatar {
  height: 3em;
}

div.player div.name {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

div.kitchen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  border: .2ex solid #0062a2;
}

div.kitchen input {
  text-align: center;
}

div.actions {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}
