header.round {
  display: flex;
  justify-content: space-between;
}

header.score-entry {
  text-align: center;
}

h2.match {
  text-align: center;
}

section.match {
  width: 100%;
  display: grid;
  column-gap: var(--pico-spacing);
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

section.match {
  border-bottom: 1px solid;
  border-color: var(--pico-muted-border-color);
}

section.team {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  row-gap: var(--pico-spacing);
}

section.team article.player {
  margin: 0;
}

section.vs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2em;
}

section.vs button.score {
  text-align: center;
  width: 100%;
}

section.vs button.score.invalid {
  border-color: var(--pico-form-element-invalid-border-color);
  color: var(--pico-form-element-invalid-focus-color);
}

section.vs button.score.valid {
  border-color: var(--pico-form-element-valid-border-color);
  color: var(--pico-form-element-valid-focus-color);
}

section.paused {
  display: grid;
  column-gap: var(--pico-spacing);
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

section.paused article {
  opacity: 0.5;
}

main.score-entry {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

section.keyboard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--pico-spacing);
}

section.keyboard button.clear {
  background: var(--pico-form-element-invalid-focus-color);
  border-color: var(--pico-form-element-invalid-border-color);
}

section.keyboard button.accept {
  background: var(--pico-form-element-valid-focus-color);
  border-color: var(--pico-form-element-valid-border-color);
}

@media (min-width: 768px) {

  section.match {
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 2fr);
  }

  section.team {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: minmax(0, 1fr);
    column-gap: var(--pico-spacing);
  }

  section.paused {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  section.keyboard {
    width: 60%;
  }
}
