header.round {
  display: flex;
  justify-content: space-between;
}

header.round button {
  padding: 1rex;
}

@scope (main.round) {
  h2 {
    font-size: 80%;
    margin: 0;
    margin-bottom: var(--pico-spacing);
  }

  section.match {
    display: grid;
    column-gap: var(--pico-spacing);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    border-bottom: 1px solid;
    border-color: var(--pico-muted-border-color);
  }

  section.team {
    display: grid;
    row-gap: var(--pico-spacing);
    column-gap: var(--pico-spacing);
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }

  section.team article.player {
    margin: 0;
  }

  section.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  section.score input {
    text-align: center;
  }

  section.score small {
    margin-bottom: 0;
  }

  section.paused {
    display: grid;
    column-gap: var(--pico-spacing);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    border-bottom: 1px solid;
    border-color: var(--pico-muted-border-color);
  }

  section.paused article {
    opacity: 0.4;
  }

  @media (min-width: 768px) {
    section.match {
      grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) minmax(0, 2fr);
    }

    section.team {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      grid-template-rows: minmax(0, 1fr);
    }

    section.paused {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }

  section.actions {
    display: flex;
    justify-content: space-between;
  }

  @scope (section.actions) {
    button.delete {
      border-color: var(--pico-form-element-invalid-border-color);
      background: var(--pico-form-element-invalid-focus-color);
    }
  }
}
