header.round {
  display: flex;
  justify-content: space-between;
}

@scope (header.round) {
  button.delete {
    border-color: var(--pico-form-element-invalid-focus-color);
    background: var(--pico-form-element-invalid-focus-color);
  }
  button.add {
    margin-left: 1ex;
    border-color: var(--pico-form-element-valid-focus-color);
    background: var(--pico-form-element-valid-focus-color);
  }
}

@scope (main.round) {
  section.match {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    &:not(:last-child) {
      border-bottom: 1px solid;
      border-color: var(--pico-muted-border-color);
    }
  }

  @scope (section.match) {
    h2 {
      position: absolute;
      top: 1em;
      left: 50%;
      transform: translate(-50%, 0);
    }

    article.team {
      display: flex;
      padding: 1ex;
    }

    article.player {
      margin: 1ex;
    }

    @media (max-width: 390px) {
      article.player {
        width: 7em;
      }
    }

    @media (min-width: 390px) {
      article.player {
        width: 7.5em;
      }
    }

    @media (max-width: 768px) {
      article.team {
        flex-direction: column;
      }
    }

    @media (min-width: 768px) {
      article.team {
        flex-direction: row;
      }

      article.player {
        width: 8em;
      }
    }

    @media (min-width: 1024px) {
      article.player {
        width: 10em;
      }
    }

    p.name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      text-align: center;
      margin: 0;
    }

    input.score {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 10ex;
    }
  }

  article.paused {
    display: flex;
  }

  @scope (article.paused) {
    article.player {
      width: 6em;
      margin-bottom: 0;
      margin-right: 1ex;
    }

    @scope (article.player) {
      p.name {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
        margin: 0;
      }

      img.avatar {
        opacity: 0.4;
      }
    }
  }
}
