header.settings {
  text-align: center;
}

main.settings button {
  margin-right: var(--pico-spacing);
}

main.settings button.danger {
  border-color: var(--pico-form-element-invalid-focus-color);
  background: var(--pico-form-element-invalid-focus-color);
}

/* Group radio options with their descriptions */
main.settings fieldset label:has(input[type="radio"]) {
  margin-bottom: 0;
}

main.settings fieldset label:has(input[type="radio"])+small {
  display: block;
  margin-bottom: var(--pico-spacing);
  padding-left: calc(1rem + var(--pico-spacing));
  color: var(--pico-muted-color);
  line-height: 1.25;
}
