header.settings {
  text-align: center;
}

main.settings button {
  margin-right: var(--pico-spacing);
}

main.settings button.danger {
  border-color: var(--pico-form-element-invalid-focus-color);
  background: var(--pico-form-element-invalid-focus-color);
}
