header.standings {
  display: flex;
  justify-content: space-between;
}

main.standings section {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: var(--pico-spacing);
  align-items: center;
  border-bottom: 1px solid;
  border-color: var(--pico-muted-border-color);
}

@media (min-width: 768px) {
  main.standings section {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2.5fr) minmax(0, 1.5fr);
  }
}

main.standings div.group-switcher button {
  padding: 0.5ex 0;
}

main.standings section div.total-players {
  text-align: center;
}

main.standings section div.record {
  text-align: center;
  padding-left: 10%;
}

@media (min-width: 768px) {
  main.standings section div.record {
    padding-left: 15%;
  }
}

main.standings section p.win-percentage {
  position: relative;
  border: 1px solid;
  border-color: var(--pico-form-element-valid-focus-color);
  border-radius: 0.5ex;
}

main.standings section p.win-percentage.unreliable {
  --red-stop: calc((1 - var(--reliability)) * 100%);
  --green-stop: calc(var(--reliability) * 100%);
  border-color: color-mix(in srgb, var(--pico-form-element-invalid-focus-color) var(--red-stop), var(--pico-form-element-valid-focus-color) var(--green-stop));
}

main.standings section div.progressbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--pico-form-element-valid-focus-color);
  border-width: 0;
  opacity: 0.3;
  z-index: -1;
}

main.standings section p.win-percentage.unreliable div.progressbar {
  background: color-mix(in srgb, var(--pico-form-element-invalid-focus-color) var(--red-stop), var(--pico-form-element-valid-focus-color) var(--green-stop));
}

main.standings section div.reliability-bar {
  position: relative;
  width: 100%;
  height: 3px;
  background: transparent;
  margin-top: calc(var(--pico-typography-spacing-vertical) * -0.5);
  margin-bottom: calc(var(--pico-typography-spacing-vertical) * 0.5);
  border-radius: 2px;
}

main.standings section div.reliability-filled {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--pico-form-element-valid-focus-color);
  border-radius: 2px;
}

main.standings section.group-stats {
  padding-bottom: var(--pico-spacing);
}

main.standings section.group-stats small {
  overflow: hidden;
}

main.standings section.group-stats p.win-percentage {
  border-color: var(--pico-muted-color);
}

main.standings section.group-stats div.progressbar {
  background: var(--pico-muted-color);
}

main.standings section div.points {
  text-align: center;
}

main.standings section p.plus-minus {
  margin-bottom: calc(var(--pico-typography-spacing-vertical) + 3px);
  white-space: nowrap;
}
