header.standings {
  display: flex;
  justify-content: space-between;
}

main.standings section {
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 2fr;
  align-items: center;
  border-bottom: 1px solid;
  border-color: var(--pico-muted-border-color);
}

@media (min-width: 768px) {
  main.standings section {
    grid-template-columns: 1fr 3fr 5fr 3fr;
  }
}

main.standings div.group-switcher button {
  padding: 0.5ex 0;
}

main.standings section.entry div.rank {
  white-space: nowrap;
  overflow: hidden;
}

main.standings section.entry div.record {
  text-align: center;
  padding: 0 10% 0 20%;
}

main.standings section.entry p.win-percentage {
  position: relative;
  border: 1px solid;
  border-color: var(--pico-form-element-valid-focus-color);
  border-radius: 0.5ex;
}

main.standings section.entry div.progressbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--pico-form-element-valid-focus-color);
  border-width: 0;
  opacity: 0.3;
  z-index: -1;
}

main.standings section.entry div.points {
  text-align: center;
}
