header.standings {
  display: flex;
  justify-content: space-between;
}

main.standings section {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  column-gap: var(--pico-spacing);
  align-items: center;
  border-bottom: 1px solid;
  border-color: var(--pico-muted-border-color);
}

@media (min-width: 768px) {
  main.standings section {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2.5fr) minmax(0, 1.5fr);
  }
}

main.standings div.group-switcher button {
  padding: 0.5ex 0;
}

main.standings section div.total-players {
  text-align: center;
}

main.standings section div.win-percentage-column {
  display: flex;
  flex-direction: column;
  gap: var(--pico-spacing);
  padding-left: var(--pico-spacing);
}

@media (min-width: 768px) {
  main.standings section div.win-percentage-column {
    padding-left: 20%;
  }
}

main.standings section div.points-column {
  display: flex;
  flex-direction: column;
  gap: var(--pico-spacing);
  align-items: flex-end;
}

main.standings section p.win-percentage {
  position: relative;
  border: 1px solid;
  border-color: var(--pico-form-element-valid-focus-color);
  border-radius: 0.5ex;
  margin: 0;
  text-align: center;
  align-self: stretch;
}

main.standings section small.wins-draws-losses {
  margin: 0;
}

main.standings section div.reliability-and-record {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  justify-content: space-between;
}

main.standings section small.points-detail {
  margin: 0;
}

main.standings section div.reliability-pie-chart {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}

main.standings section p.plus-minus {
  margin: 0;
  white-space: nowrap;
}

main.standings section div.progressbar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--pico-form-element-valid-focus-color);
  border-width: 0;
  opacity: 0.3;
  z-index: -1;
}

main.standings section div.pie {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: conic-gradient(var(--pico-muted-border-color) 0deg,
      var(--pico-muted-border-color) calc((1 - var(--reliability)) * 360deg),
      var(--pico-form-element-valid-focus-color) calc((1 - var(--reliability)) * 360deg),
      var(--pico-form-element-valid-focus-color) 360deg);
}

main.standings section.group-stats {
  padding-bottom: var(--pico-spacing);
}

main.standings section.group-stats small {
  overflow: hidden;
}

main.standings section.group-stats p.win-percentage {
  border-color: var(--pico-muted-color);
}

main.standings section.group-stats div.progressbar {
  background: var(--pico-muted-color);
}
