:root {
  /* --pico-spacing: 1rex; */
}

body {
  padding-bottom: 5rem; /* leave room for the fixed nav */
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--pico-background-color);
  border-bottom: 1px solid;
  border-color: var(--pico-muted-border-color);
}

header h1 {
  margin: 0;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid;
  border-color: var(--pico-muted-border-color);
  background: var(--pico-background-color);
  z-index: 1;
}

nav ul:first-of-type,
nav ul:last-of-type {
  margin: 0;
}

@scope (nav) {
  ul {
    width: 100%;
    justify-content: space-evenly;
  }

  li {
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 200%;
  }
}

/* Global touch behavior */

* {
  touch-action: manipulation; /* disable touble-tap zoom */
}

/* Global player styles */

article.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rex;
}

@scope (article.player) {
  img {
    width: 4rem;
    height: 4rem;
  }

  p {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    margin: 0;
  }
}

/* Global debug styles */

div.debug {
  font-size: 60%;
  width: 100%;
  display: flex;
  color: var(--pico-muted-color);
  justify-content: space-around;
  border: 1px solid;
  border-color: var(--pico-muted-border-color);
}

/* Global floating / fixed actions styles */

main.actions {
  padding-bottom: 4rem; /* leave room for action buttons */
  height: 100%;
}

div.actions {
  position: fixed;
  bottom: 5rem;
  right: var(--pico-spacing);
  left: var(--pico-spacing);
  z-index: 1;
  margin-bottom: var(--pico-spacing);
}

div.actions > button {
  border-radius: 2rem;
}

div.actions > button.right {
  float: right;
}

/* Global button styles */

button.action-with-confirmation,
button.confirm {
  border-color: var(--pico-form-element-invalid-border-color);
  background: var(--pico-form-element-invalid-focus-color);
}

/* Global animations */

.fade-in {
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
