:root {
  /* --pico-font-size: 100%; */
  --pico-font-size: 108%;
}

[data-theme=dark] {
  --pico-form-element-border-color: var(--pico-muted-color);
  --pico-muted-border-color: var(--pico-muted-color);
  --pico-box-shadow:
    0 0 0 1px rgba(255, 255, 255, 0.1),
    0.2rex 0.2rex 0.5rex rgba(255, 255, 255, 0.08),
    0.5rex 0.5rex 1rex rgba(0, 0, 0, 0.9);
}

@media (min-width: 576px) {
  :root,
  :host {
    /* --pico-font-size: 106.25%; */
    --pico-font-size: 116%;
  }
}
@media (min-width: 768px) {
  :root,
  :host {
    /* --pico-font-size: 112.5%; */
    --pico-font-size: 124%;
  }
}
@media (min-width: 1024px) {
  :root,
  :host {
    /* --pico-font-size: 118.75%; */
    --pico-font-size: 132%;
  }
}
@media (min-width: 1280px) {
  :root,
  :host {
    /* --pico-font-size: 125%; */
    --pico-font-size: 140%;
  }
}
@media (min-width: 1536px) {
  :root,
  :host {
    /* --pico-font-size: 131.25%; */
    --pico-font-size: 148%;
  }
}

body {
  padding-bottom: 4.3rem; /* leave room for the fixed nav */
  min-height: 100vh;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--pico-background-color);
  border-bottom: 1px solid;
  border-color: var(--pico-muted-border-color);
  box-shadow: var(--pico-box-shadow);
}

header > button {
  padding: 0 var(--pico-form-element-spacing-horizontal);
  border-radius: 2rem;
}

/* Global heading styles */

h1 {
  margin: 0;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1.0rem;
}

/* Navigation */

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid;
  border-color: var(--pico-muted-border-color);
  background: var(--pico-background-color);
  z-index: 1;
  box-shadow: var(--pico-box-shadow);
}

nav ul:first-of-type,
nav ul:last-of-type {
  margin: 0;
}

@scope (nav) {
  ul {
    width: 100%;
    justify-content: space-evenly;
  }

  li {
    width: 100%;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
  }
}

/* Global touch behavior */

* {
  touch-action: manipulation; /* disable touble-tap zoom */
}

/* Global player styles */

article.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rex;
}

@scope (article.player) {
  img {
    width: 4rem;
    height: 4rem;
  }

  p {
    color: var(--pico-form-element-color);
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    margin: 0;
  }
}

/* Global debug styles */

div.debug {
  font-size: 60%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--pico-muted-color);
  padding: 0.5ex;
  border: 1px solid;
  border-color: var(--pico-muted-border-color);
}

div.debug > :nth-child(2n) {
  justify-self: end;
}

/* Global floating / fixed actions styles */

main.actions {
  padding-bottom: 4rem; /* leave room for action buttons */
  height: 100%;
}

button.action {
  position: fixed;
  bottom: 4.3rem;
  border-radius: 2rem;
  z-index: 1;
  margin-bottom: var(--pico-spacing);
}

button.action.left {
  left: var(--pico-spacing);
}

button.action.right {
  right: var(--pico-spacing);
}

/* Global button styles */

button.action-with-confirmation,
button.confirm {
  border-color: var(--pico-form-element-invalid-border-color);
  background: var(--pico-form-element-invalid-focus-color);
}

/* Global animations */

.fade-in {
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
