:root {
  /* --pico-font-size: 100%; */
  --pico-font-size: 110%;
  --pico-font-weight: 500;
  --pico-spacing: 0.8rem;
  --pico-nav-element-spacing-horizontal: 0.4rem;
  --pico-nav-element-spacing-vertical: 0.7rem;
  --pico-block-spacing-vertical: 0.8rem;
}

[data-theme=dark] {
  --pico-form-element-border-color: var(--pico-muted-color);
  --pico-muted-border-color: var(--pico-muted-color);
  --pico-box-shadow:
    0 0 0 1px rgba(255, 255, 255, 0.1),
    0.2ex 0.2ex 0.5ex rgba(255, 255, 255, 0.08),
    0.5ex 0.5ex 1ex rgba(0, 0, 0, 0.9);
}

@media (min-width: 576px) {

  :root,
  :host {
    /* --pico-font-size: 106.25%; */
    --pico-font-size: 120%;
  }
}

@media (min-width: 768px) {

  :root,
  :host {
    /* --pico-font-size: 112.5%; */
    --pico-font-size: 140%;
  }
}

@media (min-width: 1024px) {

  :root,
  :host {
    /* --pico-font-size: 118.75%; */
    --pico-font-size: 160%;
  }
}

@media (min-width: 1280px) {

  :root,
  :host {
    /* --pico-font-size: 125%; */
    --pico-font-size: 180%;
  }
}

@media (min-width: 1536px) {

  :root,
  :host {
    /* --pico-font-size: 131.25%; */
    --pico-font-size: 200%;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: var(--pico-background-color);
  border-bottom: 1px solid;
  border-color: var(--pico-muted-border-color);
  box-shadow: var(--pico-box-shadow);
}

header>button {
  padding: 0 var(--pico-form-element-spacing-horizontal);
  border-radius: 2rem;
}

/* Global heading styles */

h1 {
  margin: 0;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1.0rem;
}

/* Navigation */

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid;
  border-color: var(--pico-muted-border-color);
  background: var(--pico-background-color);
  z-index: 1;
  box-shadow: var(--pico-box-shadow);
}

nav ul:first-of-type,
nav ul:last-of-type {
  margin: 0;
}

nav ul {
  width: 100%;
  justify-content: space-evenly;
}

nav li {
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-size: 1.5rem;
}

/* Global touch behavior */

* {
  touch-action: manipulation;
  /* disable touble-tap zoom */
}

/* Global player styles */

article.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1ex;
  min-width: 0;
}

article.player img {
  width: 4rem;
  height: 4rem;
}

article.player p {
  color: var(--pico-form-element-color);
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  margin: 0;
}

/* Global debug styles */

div.debug {
  font-size: 60%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--pico-muted-color);
  padding: 0.5ex;
  border: 1px solid;
  border-color: var(--pico-muted-border-color);
}

div.debug> :nth-child(2n) {
  justify-self: end;
}

main {
  flex: 1;
  /* leave room for the fixed nav */
  margin-bottom: 3.6rem;
}

main.fullscreen {
  /* no nav in fullscreen */
  margin-bottom: 0;
}

/* Global floating / fixed actions styles */

main.actions {
  padding-bottom: 4rem;
  /* leave room for action buttons */
}
